Question 1:

In [1]:
list_even = []
for i in range(101):
  if i % 2 == 0:
    list_even.append(i)
print(list_even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

Question 2:

In [2]:
a = 8
print(type(a))

<class 'int'>

In [3]:
b=9.5748;
print(type(b))

<class 'float'>

In [4]:
c="Go!";
print(type(c))

<class 'str'>

In [5]:
d=True;
print(type(d))

<class 'bool'>

In [6]:
e=[3,"Oppenheimer"];
print(type(e))

<class 'list'>

In [7]:
f= {9, 8, 100};
print(type(f))

<class 'set'>

In [8]:
g = {"India" : 7184, "Russia" : 7849, "Canada" : 7435}
print(type(g))

<class 'dict'>

Question 3:

Method 1: Set Function

In [9]:
list_1 = [1,2,3,1,1,2,2,4,5,6,7,7,2,1,0,9,10]

list_new = list(set(list_1))
print("Original List: {}".format(list_1))
print("List without duplicates: {}".format(list_new))

Original List: [1, 2, 3, 1, 1, 2, 2, 4, 5, 6, 7, 7, 2, 1, 0, 9, 10]
List without duplicates: [0, 1, 2, 3, 4, 5, 6, 7, 9, 10]

Method 2:

In [10]:
list_original = [1,2,3,1,1,2,2,4,5,6,7,7,2,1,0,9,10]
list_without_duplicate = []
for num in list_original:
  if(num not in list_without_duplicate):
    list_without_duplicate.append(num)

print("Original List: {}".format(list_1))
print("List without duplicates: {}".format(list_new))

Original List: [1, 2, 3, 1, 1, 2, 2, 4, 5, 6, 7, 7, 2, 1, 0, 9, 10]
List without duplicates: [0, 1, 2, 3, 4, 5, 6, 7, 9, 10]

In [11]:
# After Concatenating [20,100, 1000]
list_total = list_new + [20,100, 1000]
print("Concatenated List: {}".format(list_total))
list_total.pop(5)
list_total.pop(9)
print("After removing elements at index 5 and 10: {}".format(list_total))

# List got sorted on its own but we can do so by using sorted() function

list_sorted = sorted(list_total)
print("Sorted List: {}".format(list_sorted))

Concatenated List: [0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 20, 100, 1000]
After removing elements at index 5 and 10: [0, 1, 2, 3, 4, 6, 7, 9, 10, 100, 1000]
Sorted List: [0, 1, 2, 3, 4, 6, 7, 9, 10, 100, 1000]

Question 4:

In [12]:
prime_check = int(input("Enter an integer less than 1000\n"))
for j in range(2,a):
  if prime_check % i == 0:
    print("Not prime!")

print("Yes, {} is a prime number".format(prime_check))

Enter an integer less than 1000
877
Yes, 877 is a prime number

Question 5:

In [13]:
def insert_dir(dir, name, num):
  if name not in dir.keys():
    dir.__setitem__(name, num)
  else:
    dir[name] = num

  return dir

def delete(dir, name):
  del dir[name]
  return dir

directory = dict()
insert_dir(directory, "Amit", 9335717017)
insert_dir(directory, "Rohan", 8896417563)
insert_dir(directory, "Darshit", 7357196782)
delete(directory, "Darshit")

{'Amit': 9335717017, 'Rohan': 8896417563}

Question 6:

In [14]:
a = int(input("Enter an integer a\n"))
b = int(input("Enter an integer b\n"))
c = int(input("Enter an integer c\n"))
d = a + b
e = b - c
print("Sum of a and b is {}:".format(d))
print("Difference between b and c is {}:".format(e))

Enter an integer a
10
Enter an integer b
9
Enter an integer c
8
Sum of a and b is 19:
Difference between b and c is 1:

In [15]:
print(d >= e)

True

In [16]:
print(d != e)

True

In [17]:
print(e <= d)

True

In [18]:
print(e == d)

False

Question 7:

In [28]:
num1 = 84
num2 = 101

bin_num1 = bin(num1)
bin_num2 = bin(num2)

print(bin_num1)
print(bin_num2)

hexa_num1 = hex(num1)
hexa_num2 = hex(num2)

print(hexa_num1)
print(hexa_num2)

octa_num1 = oct(num1)
octa_num2 = oct(num2)

print(octa_num1)
print(octa_num2)

# Print Complements

print(bin(~num1))
print(bin(~num2))

# 2 bit right shift of 84

print(num1 >> 2)

# 2 bit left shift of 101
print(num2 << 2)

# Bit wise OR

print("Bit wise OR: {}".format(num1 >> 2 | num2 << 2))

# Bit wise AND

print("Bit wise AND: {}".format(num1 >> 2 & num2 << 2))

0b1010100
0b1100101
0x54
0x65
0o124
0o145
-0b1010101
-0b1100110
21
404
Bit wise OR: 405
Bit wise AND: 20

Question 8:

In [20]:
a_2 = (2, 5, 5, 5, 3, 2, 5)
a_2.count(5)

4

In [21]:
b_2=("orange", "apples",7, 8)
print(b_2*3)

('orange', 'apples', 7, 8, 'orange', 'apples', 7, 8, 'orange', 'apples', 7, 8)

In [23]:
nums_tuple=(4,9)
num1_tuple = nums_tuple[0]
num2_tuple = nums_tuple[1]

num1_tuple, num2_tuple = num2_tuple, num1_tuple
swapped_tuple = (num1_tuple, num2_tuple)

print("Original tuple = {}".format(nums_tuple))
print("Swapped tuple = {}".format(swapped_tuple))

Original tuple = (4, 9)
Swapped tuple = (9, 4)