Section 0.1

Question 1: Version 1 (Without using global variable)

In [32]:
def demo_without_global_variable():
    x = 10
    y = 20
    print("Inside the function (without global):")
    print("x =", x)
    print("y =", y)

x = 5  # Global variable with a different value

print("Before calling the function: x = ", x)

demo_without_global_variable()

print("After calling the function: x = ", x)

Before calling the function: x =  5
Inside the function (without global):
x = 10
y = 20
After calling the function: x =  5

Version 2 (Using global variable)

In [33]:
x = 10

def demo_using_global_variable():
    global x
    y = 20  # Local variable
    print("Inside the function:")
    print("x:", x)  # Accessing global variable x
    print("y:", y)  # Accessing local variable y

print("Before calling the function:")
print("x:", x)  # Accessing global variable x

demo_using_global_variable()

print("After calling the function:")
print("x:", x)

Before calling the function:
x: 10
Inside the function:
x: 10
y: 20
After calling the function:
x: 10

  Question 2:

In [ ]:
def outer_function():
  x = 5    # local variable
  def inner_function():
    print(x)


  inner_function()

outer_function()

5

Question 3:

In [ ]:
def modify_string(text_param, char_param):
  modified_text = text_param.replace(char_param, 'X')
  return modified_text

sample_string = "This is an example text"
sample_char = 'a'

result = modify_string(sample_string, sample_char)

print("Original text: {}".format(sample_string))
print("Modified String: {}".format(result))

Original text: This is an example text
Modified String: This is Xn exXmple text

Question 4:

In [ ]:
import math
from functools import reduce

lst = list(range(1, 101))

# a. Find Log x of each element
result_a = list(map(lambda x: math.log(x) + 1, lst))

# b. Filter out values that are not divisible by 5 using a lambda function
result_b = list(filter(lambda x: x % 5 == 0, lst))

# c. Find the sum of all elements in the list using a lambda function
result_c = reduce(lambda x, y: x + y, lst)

print("Results of a: ", result_a)
print("Results of b: ", result_b)
print("Results of c: ", result_c)

Results of a:  [1.0, 1.6931471805599454, 2.09861228866811, 2.386294361119891, 2.6094379124341005, 2.791759469228055, 2.9459101490553135, 3.0794415416798357, 3.1972245773362196, 3.302585092994046, 3.3978952727983707, 3.4849066497880004, 3.5649493574615367, 3.6390573296152584, 3.70805020110221, 3.772588722239781, 3.833213344056216, 3.8903717578961645, 3.9444389791664403, 3.995732273553991, 4.044522437723423, 4.091042453358316, 4.13549421592915, 4.178053830347945, 4.218875824868201, 4.258096538021482, 4.295836866004329, 4.332204510175204, 4.367295829986475, 4.401197381662156, 4.433987204485146, 4.465735902799727, 4.49650756146648, 4.526360524616162, 4.555348061489413, 4.58351893845611, 4.610917912644224, 4.637586159726386, 4.663561646129646, 4.688879454113936, 4.713572066704308, 4.737669618283368, 4.761200115693562, 4.7841896339182615, 4.80666248977032, 4.828641396489095, 4.850147601710058, 4.871201010907891, 4.891820298110627, 4.912023005428146, 4.931825632724326, 4.951243718581427, 4.970291913552122, 4.9889840465642745, 5.007333185232471, 5.02535169073515, 5.04305126783455, 5.060443010546419, 5.07753744390572, 5.0943445622221, 5.110873864173311, 5.127134385045092, 5.143134726391533, 5.1588830833596715, 5.174387269895637, 5.189654742026425, 5.204692619390966, 5.219507705176107, 5.23410650459726, 5.248495242049359, 5.2626798770413155, 5.276666119016055, 5.290459441148391, 5.30406509320417, 5.31748811353631, 5.330733340286331, 5.343805421853684, 5.356708826689592, 5.3694478524670215, 5.382026634673881, 5.394449154672439, 5.406719247264253, 5.418840607796598, 5.430816798843313, 5.442651256490317, 5.454347296253507, 5.465908118654584, 5.477336814478207, 5.48863636973214, 5.499809670330265, 5.51085950651685, 5.5217885770490405, 5.532599493153256, 5.543294782270004, 5.553876891600541, 5.564348191467836, 5.574710978503383, 5.584967478670572, 5.59511985013459, 5.605170185988092]
Results of b:  [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
Results of c:  5050

Question 5:

In [ ]:
def basketball_scores(team_A_points, team_B_points, *additional_points, **kwargs):
    team_A_attempts = 10
    team_B_attempts = 10
    team_A_free_attempts = 5
    team_B_free_attempts = 3

    team_A_score = (team_A_points * 2) + (team_A_free_attempts * 3)
    team_B_score = (team_B_points * 2) + (team_B_free_attempts * 3)

    for points in additional_points:
        team_A_score += points[0]
        team_B_score += points[1]

    print("Team A Score:", team_A_score)
    print("Team B Score:", team_B_score)

    if team_A_score > team_B_score:
        print("Congratulations to Team A!")
        print("Good effort, Team B!")
    elif team_B_score > team_A_score:
        print("Congratulations to Team B!")
        print("Good effort, Team A!")
    else:
        print("It's a tie! Both teams performed well!")

# Example: Pass the points as arguments to the function
team_A_points = 7
team_B_points = 5
additional_points = [(2, 3), (1, 2)]  # Additional points for both teams
basketball_scores(team_A_points, team_B_points, *additional_points)

Team A Score: 32
Team B Score: 24
Congratulations to Team A!
Good effort, Team B!

Section 0.2

Question 6:

In [4]:
class Car:
  def __init__(self, make, model, year):
    self.make = make
    self.model= model
    self.year = year

  def display_specs(self):
    return f"Make: {self.make}, Model: {self.model}, Year: {self.year}"

Car_1 = Car("Maruti Suzuki", "WagonR", 2008)
Car_1.display_specs()

'Make: Maruti Suzuki, Model: WagonR, Year: 2008'

In [5]:
class ElectricCar(Car):
  def __init__(self, make, model, year, battery_capacity):
    self.battery_capacity = battery_capacity

    Car.__init__(self, make, model, year)


  def display_Battery_info(self):
    return f"Battery Capacity: {self.battery_capacity} kWh"

Car2 = ElectricCar("tata", "nano", 2006, 12)
Car2.display_Battery_info()

'Battery Capacity: 12 kWh'

In [7]:
def display_car_info(cars):
    for car in cars:
        if isinstance(car, Car):
            print(car.display_specs())
            if isinstance(car, ElectricCar):
                print(car.display_Battery_info())
            print("-" * 20)

# Creating instances of Car and ElectricCar
car1 = Car("Toyota", "Camry", 2022)
electric_car1 = ElectricCar("Tesla", "Model S", 2023, 100)

car2 = Car("Ford", "Mustang", 2022)
electric_car2 = ElectricCar("Nissan", "Leaf", 2023, 40)

car3 = Car("Tata", "Nano", 2008)

# Creating a list of cars
car_list = [car1, electric_car1, car2, electric_car2, car3]

# Displaying car information
display_car_info(car_list)

Make: Toyota, Model: Camry, Year: 2022
--------------------
Make: Tesla, Model: Model S, Year: 2023
Battery Capacity: 100 kWh
--------------------
Make: Ford, Model: Mustang, Year: 2022
--------------------
Make: Nissan, Model: Leaf, Year: 2023
Battery Capacity: 40 kWh
--------------------
Make: Tata, Model: Nano, Year: 2008
--------------------

Question 7:

In [16]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Student(Person):
    def __init__(self, name, age, student_id):
        Person.__init__(self, name, age)
        self.student_id = student_id


class Employee(Person):
    def __init__(self, name, age, employee_id):
        Person.__init__(self, name, age)
        self.employee_id = employee_id

class Resident(Student, Employee):
    def __init__(self, name, age, student_id, employee_id, address):
        Student.__init__(self, name, age, student_id)
        Employee.__init__(self, name, age, employee_id)
        self.address = address

    def display_info(self):
        return f"Name: {self.name}, Age: {self.age}, Student ID: {self.student_id}, Employee ID: {self.employee_id}, Address: {self.address}"

# Creating an instance of the Resident class
resident1 = Resident("Siddhi Lipare", 20, "21262", "E67890", "IISER Bhopal")

# Displaying resident information
print(resident1.display_info())

Name: Siddhi Lipare, Age: 20, Student ID: 21262, Employee ID: E67890, Address: IISER Bhopal

Question 8:

In [23]:
class BankAccount:
    def __init__(self, account_number, account_holder, balance=0):
        self.account_number = account_number
        self.account_holder = account_holder
        self.balance = balance
        self.daily_withdrawal_limit = 1000  # Default daily withdrawal limit

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            return f"Deposited Rs. {amount}. Current balance: Rs. {self.balance}"
        else:
            return "Invalid deposit amount."

    def withdraw(self, amount):
        if amount > 0 and amount <= self.daily_withdrawal_limit and amount <= self.balance:
            self.balance -= amount
            return f"Withdrew Rs. {amount}. Current balance: Rs. {self.balance}"
        elif amount > self.balance:
            return "Insufficient balance."
        elif amount > self.daily_withdrawal_limit:
            return "Exceeds daily withdrawal limit."
        else:
            return "Invalid withdrawal amount."

    def display_info(self):
        return f"Account Holder: {self.account_holder}\nAccount Number: {self.account_number}\nAccount Balance: Rs. {self.balance}"

    def set_daily_withdrawal_limit(self, limit):
        if limit > 0:
            self.daily_withdrawal_limit = limit
            return f"Daily withdrawal limit set to Rs. {limit}"
        else:
            return "Invalid withdrawal limit."

# Creating an instance of BankAccount
account = BankAccount("9000000456372", "Siddhi Lipare", 5000)

# Displaying account information
print(account.display_info())

# Depositing money
print(account.deposit(1000))

# Withdrawing money
print(account.withdraw(200))

# Setting a new daily withdrawal limit
print(account.set_daily_withdrawal_limit(1500))

# If you Attempt to withdraw exceeding the new limit
print(account.withdraw(1600))

Account Holder: Siddhi Lipare
Account Number: 9000000456372
Account Balance: Rs. 5000
Deposited Rs. 1000. Current balance: Rs. 6000
Withdrew Rs. 200. Current balance: Rs. 5800
Daily withdrawal limit set to Rs. 1500
Exceeds daily withdrawal limit.

In [30]:
import math

class Shape:
    def calculate_area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def calculate_area(self):
        return math.pi * self.radius**2

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def calculate_area(self):
        return self.width * self.height

class Triangle(Shape):
    def __init__(self, base, height):
        self.base = base
        self.height = height

    def calculate_area(self):
        return 0.5 * self.base * self.height

# Creating instances of different shapes
circle = Circle(5)
rectangle = Rectangle(4, 6)
triangle = Triangle(3, 7)

# Calculating and displaying areas
print(f"Circle Area: {round(circle.calculate_area(), 4)}")
print(f"Rectangle Area: {rectangle.calculate_area()}")
print(f"Triangle Area: {triangle.calculate_area()}")

Circle Area: 78.5398
Rectangle Area: 24
Triangle Area: 10.5